/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
h1,h2,h3 {
  color: #272727;
  display: block;
  justify-content: center;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    border-bottom-color: transparent;
    background: transparent;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-color: #fff;
}
.nav-tabs {
  .nav-item > .nav-item a {
    border: 0px;
  }
   .active {
     background: transparent;
   }
}
.form-control-borderless, .form-control-borderless:focus {
  border: 0px;
  &:focus {
    box-shadow: inset 0 0px 0px #fff, 0 0 0px #fff;
  }
}
.card {
  border: 0px;
  border-radius: 0px;
}

body {
  font-family: 'Montserrat', sans-serif;
}
