<div class="bitcard_banner">
  <div class="cover cover-container col-md-8 offset-md-2 d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">BitCard</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Contact</a>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Easily buy bitcoin and other cryptocurrencies with cash at participating stores</h2>
          <a class="btn btn-lg btn-primary-outline">Find a store nearest you</a>
        </div>
        <div class="col-md-6">
          <h2>Redeem your card now</h2>
          <div class="form-label-group">
            <input type="email" id="gcode" class="form-control" placeholder="Gift Card Code" autofocus>
          </div>
          <div class="form-label-group">
            <a class="btn btn-lg btn-primary-outline">Redeem Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
