<div class="bitcard_banner">
  <div class="cover cover-container col-md-8 offset-md-2 d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">BitCard</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" href="#">Login</a>
          <a class="nav-link" href="#">How it works</a>
          <a class="nav-link" href="#">Contact</a>
        </nav>
      </div>
    </header>
  </div>
  <div class="container">
    <div class="row text-center justify-content-center section-intro">
      <div class="col-12 col-md-10 col-lg-8">
          <h1 class="display-3">Bitcoin as easy as 1,2,3....</h1>
          <span class="lead">Buy bitcoin giftcards at any of our retail partners, or with cash at 27,000 stores nationwide.</span>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Redeem a card</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Find a store</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <form class="card card-sm">
              <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                    <i class="icon-magnifying-glass h4 text-body"></i>
                </div>
                <!--end of col-->
                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Gift Card Number">
                </div>
                <!--end of col-->
                <div class="col-auto">
                    <button class="btn btn-lg btn-primary" type="submit">Redeem</button>
                </div>
                <!--end of col-->
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <form class="card card-sm">
              <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                    <i class="icon-magnifying-glass h4 text-body"></i>
                </div>
                <!--end of col-->
                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                </div>
                <!--end of col-->
                <div class="col-auto">
                    <button class="btn btn-lg btn-success" type="submit">Search</button>
                </div>
                <!--end of col-->
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
