<div class="bitcard_banner">
  <div class="cover cover-container col-md-8 offset-md-2 d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">BitCard</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" href="#">Login</a>
          <a class="nav-link" href="#">How it works</a>
          <a class="nav-link" href="#">Contact</a>
        </nav>
      </div>
    </header>
  </div>
  <div class="container">
    <app-redeem-wizard></app-redeem-wizard>
  </div>
</div>
