






/*
 * Base structure
 */

html,
body {
  height: 100%;
  color: #272727;
}


.bitcard_banner {
  width: 100%;
  height: 100%;
  background: #40d6d8; /* Old browsers */
  background: -moz-linear-gradient(top, #40d6d8 0%, #79eab9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #40d6d8 0%,#79eab9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #40d6d8 0%,#79eab9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40d6d8', endColorstr='#79eab9',GradientType=0 ); /* IE6-9 */
  min-height: 600px;
}
.cover-container {

}


/*
 * Header
 */
.masthead {
  margin-bottom: 2em;
  padding-bottom: 4em;
}

.masthead-brand {
  margin-bottom: 0;
  color: #fff;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  .container {
    .btn-lg {
      border: 2px solid #fff;
      color: #fff;
      padding: .75rem 1.25rem;
      font-weight: 700;
    }
  }
}

.page-left, .page-right {
  display: flex;
  flex-grow:1;
  flex-direction: column;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
